In [2]:
import pandas as pd

In [10]:
col=['X1','X2','X3','X6',]


dataset=pd.read_csv('test.csv',usecols=col)

In [11]:
dataset.head()

  X1  X2 X3 X6
0  v   n  f  a
1  b  ai  a  g
2  v  as  f  j
3  l   n  f  l
4  s  as  c  i

In [14]:
total_cars=len(dataset)

In [23]:
temp_df=pd.Series(dataset['X3'].value_counts()/total_cars).reset_index()

In [4]:
dataset=pd.read_csv('titanic.csv')

In [5]:
dataset.isnull().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [6]:
def impute_na(df,variable,median):
    dataset[varaible+'_median']=dataset[variable].fillna(median)

In [8]:
median=dataset.Age.median()
print(median)

impute_na(dataset,'Age',median)

28.0

NameError: name 'varaible' is not defined