In [1]:
import pandas as pd

In [6]:
col=['X1','X2','X3','X6',]

dataset=pd.read_csv('test.csv',usecols=col)

In [7]:
dataset.head()

  X1  X2 X3 X6
0  v   n  f  a
1  b  ai  a  g
2  v  as  f  j
3  l   n  f  l
4  s  as  c  i