In [120]:
import pandas as pd
from sklearn.cross_validation import train_test_split

In [121]:
data=pd.read_csv('data/Salary_Data.csv')

In [122]:
data.head()
#YearsExperience-->independent Variable
#Salary-->dependent Variable

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [123]:
data.shape

(30, 2)

In [124]:
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [125]:
X=data.iloc[:,:-1].values

In [126]:
y=data.iloc[:,1].values

In [127]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=1/3,random_state=0)

In [128]:
y_train

array([ 56642.,  66029.,  64445.,  61111., 113812.,  91738.,  46205.,
       121872.,  60150.,  39891.,  81363.,  93940.,  57189.,  54445.,
       105582.,  43525.,  39343.,  98273.,  67938.,  56957.])

In [129]:
from sklearn.linear_model import LinearRegression

In [130]:
regressor=LinearRegression()

In [131]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [133]:
y_pred=regressor.predict(X_test)

In [135]:
y_pred

array([ 40835.10590871, 123079.39940819,  65134.55626083,  63265.36777221,
       115602.64545369, 108125.8914992 , 116537.23969801,  64199.96201652,
        76349.68719258, 100649.1375447 ])

In [136]:
y_test

array([ 37731., 122391.,  57081.,  63218., 116969., 109431., 112635.,
        55794.,  83088., 101302.])

In [ ]:
#Some salary are over predicted