In [111]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [112]:
data_startup=pd.read_csv('data/50_Startups.csv')

In [113]:
data_startup.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [114]:
data_startup.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [115]:
data_startup[['R&D Spend','Administration','Marketing Spend','Profit']]=data_startup[['R&D Spend','Administration','Marketing Spend','Profit']].astype(int)

In [116]:
data_startup.head()

   R&D Spend  Administration  Marketing Spend       State  Profit
0     165349          136897           471784    New York  192261
1     162597          151377           443898  California  191792
2     153441          101145           407934     Florida  191050
3     144372          118671           383199    New York  182901
4     142107           91391           366168     Florida  166187

In [117]:
#[Matrix]#Independent Variable 'R&D Spend','Administration','Marketing Spend',State
#{Vector}#Dependent Variable : Profit

In [118]:
X=data_startup.iloc[:,:-1].values
y=data_startup.iloc[:,4].values

In [119]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [120]:
labelencoder_X=LabelEncoder()
X[:,3]=labelencoder_X.fit_transform(X[:,3])
onehotencoder=OneHotEncoder(categorical_features=[3])

In [121]:
X=onehotencoder.fit_transform(X).toarray()

In [122]:
X=X[:,1:]

In [123]:
from sklearn.cross_validation import train_test_split

In [124]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [125]:
from sklearn.linear_model import LinearRegression

In [126]:
regressor=LinearRegression()

In [127]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [128]:
#Predicting the test set results

In [129]:
y_pred=regressor.predict(X_test)

In [130]:
diff=y_pred.astype(int)-y_test

In [131]:
#Building the  optimal model using backward Elimination

In [132]:
import statsmodels.formula.api as sm

In [133]:
X=np.append(arr=np.ones((50,1)).astype(int),values=X,axis=1)

In [137]:
X.astype(int)

array([[     1,      0,      1, 165349, 136897, 471784],
       [     1,      0,      0, 162597, 151377, 443898],
       [     1,      1,      0, 153441, 101145, 407934],
       [     1,      0,      1, 144372, 118671, 383199],
       [     1,      1,      0, 142107,  91391, 366168],
       [     1,      0,      1, 131876,  99814, 362861],
       [     1,      0,      0, 134615, 147198, 127716],
       [     1,      1,      0, 130298, 145530, 323876],
       [     1,      0,      1, 120542, 148718, 311613],
       [     1,      0,      0, 123334, 108679, 304981],
       [     1,      1,      0, 101913, 110594, 229160],
       [     1,      0,      0, 100671,  91790, 249744],
       [     1,      1,      0,  93863, 127320, 249839],
       [     1,      0,      0,  91992, 135495, 252664],
       [     1,      1,      0, 119943, 156547, 256512],
       [     1,      0,      1, 114523, 122616, 261776],
       [     1,      0,      0,  78013, 121597, 264346],
       [     1,      0,      1,  94657, 145077, 282574],
       [     1,      1,      0,  91749, 114175, 294919],
       [     1,      0,      1,  86419, 153514,      0],
       [     1,      0,      0,  76253, 113867, 298664],
       [     1,      0,      1,  78389, 153773, 299737],
       [     1,      1,      0,  73994, 122782, 303319],
       [     1,      1,      0,  67532, 105751, 304768],
       [     1,      0,      1,  77044,  99281, 140574],
       [     1,      0,      0,  64664, 139553, 137962],
       [     1,      1,      0,  75328, 144135, 134050],
       [     1,      0,      1,  72107, 127864, 353183],
       [     1,      1,      0,  66051, 182645, 118148],
       [     1,      0,      1,  65605, 153032, 107138],
       [     1,      1,      0,  61994, 115641,  91131],
       [     1,      0,      1,  61136, 152701,  88218],
       [     1,      0,      0,  63408, 129219,  46085],
       [     1,      1,      0,  55493, 103057, 214634],
       [     1,      0,      0,  46426, 157693, 210797],
       [     1,      0,      1,  46014,  85047, 205517],
       [     1,      1,      0,  28663, 127056, 201126],
       [     1,      0,      0,  44069,  51283, 197029],
       [     1,      0,      1,  20229,  65947, 185265],
       [     1,      0,      0,  38558,  82982, 174999],
       [     1,      0,      0,  28754, 118546, 172795],
       [     1,      1,      0,  27892,  84710, 164470],
       [     1,      0,      0,  23640,  96189, 148001],
       [     1,      0,      1,  15505, 127382,  35534],
       [     1,      0,      0,  22177, 154806,  28334],
       [     1,      0,      1,   1000, 124153,   1903],
       [     1,      1,      0,   1315, 115816, 297114],
       [     1,      0,      0,      0, 135426,      0],
       [     1,      0,      1,    542,  51743,      0],
       [     1,      0,      0,      0, 116983,  45173]])