In [7]:
import pandas as pd
from sklearn.cross_validation import train_test_split

In [3]:
data=pd.read_csv('data/Salary_Data.csv')

In [4]:
data.head()
#YearsExperience-->independent Variable
#Salary-->dependent Variable

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [21]:
data.shape

(30, 2)

In [22]:
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [13]:
X=data['YearsExperience'].astype(int)

In [18]:
y=data['Salary'].astype(int)

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=0)

In [24]:
X_train

8      3
14     4
23     8
20     6
1      1
29    10
6      3
4      2
18     5
19     6
9      3
7      3
25     9
3      2
0      1
21     7
15     4
12     4
Name: YearsExperience, dtype: int32